{% extends 'basic.html' %}


{% block title %} Knowledge Master {% endblock title %}

{% load static %}

{% block body %}


  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs">
      <div class="container">
        <h2>Courses</h2>
        <p>Est dolorum ut non facere possimus quibusdam eligendi voluptatem. Quia id aut similique quia voluptas sit quaerat debitis. Rerum omnis ipsam aperiam consequatur laboriosam nemo harum praesentium. </p>
      </div>
    </div><!-- End Breadcrumbs -->
    <section id="popular-courses" class="courses">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-lg-4">
            <div class="course-item">
              <img src={% static 'img/course-1.jpg' %}  class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="enroll">Enroll Now</h4>
                  <p class="price">12999 ₹</p>
                </div>

                <h3><a href="course-details.html">Website Design</a></h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-4">
            <div class="course-item">
              <img src={% static 'img/course-2.jpg' %}  class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="enroll">Enroll Now</h4>
                  <p class="price">7999 ₹</p>
                </div>

                <h3><a href="course-details.html">Search Engine Optimization</a></h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-4">
            <div class="course-item">
              <img src={% static 'img/course-3.jpg' %}  class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="enroll">Enroll Now</h4>
                  <p class="price">11999 ₹</p>
                </div>

                <h3><a href="course-details.html">Copywriting</a></h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->
        </div>
        <div class="row" data-aos="zoom-in" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-lg-4">
            <div class="course-item">
              <img src={% static 'img/webd.jpg' %}  class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="enroll">Enroll Now</h4>
                  <p class="price">9999 ₹</p>
                </div>

                <h3><a href="course-details.html">Web Developement</a></h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-4">
            <div class="course-item">
              <img src={% static 'img/androo.jpg' %}  class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="enroll">Enroll Now</h4>
                  <p class="price">10000 ₹</p>
                </div>

                <h3><a href="course-details.html">Android Developement</a></h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-4">
            <div class="course-item">
              <img src={% static 'img/aii.jpg' %}  class="img-fluid" alt="...">
              <div class="course-content">
                <div class="d-flex justify-content-between align-items-center mb-3">
                  <h4 class="enroll">Enroll Now</h4>
                  <p class="price">14000 ₹</p>
                </div>

                <h3><a href="course-details.html">Artificial Inteligence</a></h3>
                <p>Et architecto provident deleniti facere repellat nobis iste. Id facere quia quae dolores dolorem tempore.</p>
                
              </div>
            </div>
          </div> <!-- End Course Item-->
        </div>
      </div>
    </section><!-- End Popular Courses Section -->
  </main><!-- End #main -->
{% endblock body %}