{% extends 'Home/basic.html' %}


{% block title %} Knowledge Master {% endblock title %}

{% load static %}
{% block body %}
<main class="start-test">
  <div class="div" style="height:10vh;"></div>
  <div>
    <h3 ><b>Instructions :</b></h3>
  </div>
  <div class="row mt-1 g-2">
    <div class="col-1"></div>
    <div class="col-11"><span><b>1.</b></span>
      Lorem ipsum dolor sit amet consectetur adipisic
    </div>
    <div class="col-1"></div>
    <div class="col-11"><span><b>2.</b></span>
      Lorem psum dolor sit amet consectetur adipisicing elit. Doloronsectetur adipisicing elit. Dolores eaque
      consequunes eaque consequuntur quam modi, amet et quaerat </div>
    <div class="col-1"></div>
    <div class="col-11"><span><b>3.</b></span>
      Lorem ipsum dolor sit amet consectetuoring elit. Dolores eaque consequuntur quam modi, amet et quaerat </div>
    <div class="col-1"></div>
    <div class="col-11"><span><b>4.</b></span>
      Lorem ipsum dolor sit amet consectetur adipir adipisicing elit. Dolsicing elit. Dolores eaque consequuntur quam
      modi, amet et quaerat </div>
    <div class="col-1"></div>
    <div class="col-11"><span><b>5.</b></span>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eaque consequuntur quam modi, amet et quaerat
    </div>
    <div class="col-9"></div>
  <div class="col-2 button-st mt-5">
  <a href="{% url 'course' tesr %}"" class="get-started-btn">START TEST</a>
</div>
  
</main>
{% endblock body %}